.input-field {
    position: relative;
    max-width: 400px;
}

input:not([type="submit"]),
textarea {
    background: #fff;
    box-shadow: 0 0 0 2px color(grays, 300);
    border: 0;
    border-radius: $border-radius;
    padding: 1rem;
    outline: 0;
    font-size: 1.6rem;
    transition: box-shadow 100ms ease-in-out;
    width: 100%;

    &:hover {
        box-shadow: 0 0 0 2px color(grays, 600);
    }

    &:focus {
        box-shadow: 0 0 0 2px color(grays, 700);
    }

    &::placeholder {
        opacity: 0;
    }

    +label {
        position: absolute;
        font-size: 1rem;
        padding: 0 4px;
        left: calc(1rem - 4px);
        pointer-events: none;
        bottom: 1rem;
        line-height: 1em;
        transition: transform 50ms ease-in-out;
        color: $text-color;

        i.material-icons {
            position: relative;
            font-size: 1rem;
            top: 2px;
        }
    }

    &:not(:placeholder-shown)+label {
        display: block;
        transform: translate(-4px, -1rem);
        background: $background-color;
        z-index: -1;
    }
}