$colors: (primary: (100: #D4F6E4,
        200: #ADEED0,
        300: #79CEAF,
        400: #4C9D88,
        500: #1D5D52,
        600: #154F4B,
        700: #0E4242,
        800: #093035,
        900: #05242C),
    success: (100: #D9F8D0,
        200: #ADF2A3,
        300: #72D96F,
        400: #45B44C,
        500: #188228,
        600: #116F28,
        700: #0C5D27,
        800: #074B24,
        900: #043E22),
    info: (100: #C8EAFA,
        200: #94D2F6,
        300: #5CACE5,
        400: #3385CC,
        500: #0153AA,
        600: #004092,
        700: #002F7A,
        800: #002162,
        900: #001751),
    warning: (100: #FBEFC9,
        200: #F8DC95,
        300: #ECBD5E,
        400: #D99C36,
        500: #C17100,
        600: #A55A00,
        700: #8A4500,
        800: #6F3300,
        900: #5C2600),
    error: (100: #FDE2D3,
        200: #FCBEA9,
        300: #F6917C,
        400: #ED675A,
        500: #E22828,
        600: #C21D2B,
        700: #A2142C,
        800: #830C2B,
        900: #6C072A),
    gray: (100: #F0F5F6,
        200: #E2EBED,
        300: #BDC7CB,
        400: #8A9398,
        500: #4A5054,
        600: #363F48,
        700: #25303C,
        800: #172230,
        900: #0E1728));

$text-color: var(--secondary-800);
$shadow: 0px 4px 4px rgba(30, 32, 107, 0.12);
$background-color: var(--primary-50);
$border-radius: 4px;
$sans-serif: "IBM Plex Sans",
sans-serif;
$max-width: 1200px;